In [50]:
import pandas as pd
import numpy as np

# open the CSV file
worry_data = pd.read_csv('data_incl_demographics filtered_SMALL.csv')

# display the first 10 rows, they contain text and a column with either 
# 'ham' or 'spam' = target or label for each record
worry_data.head(10)

   Unnamed: 0  ...  Student Status
0           1  ...             NaN
1           2  ...             NaN
2           3  ...             NaN
3           4  ...              No
4           5  ...              No
5           6  ...              No
6           7  ...              No
7           8  ...              No
8           9  ...              No
9          10  ...              No

[10 rows x 22 columns]

In [51]:
# display how many rows and how many columns
print(worry_data.shape)

# we build the model on the train set and test out the model on the test set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(worry_data['text_long'], 
                                                    worry_data['worry'], 
                                                    test_size=0.2,
                                                    random_state=50)

# Fit and transform X_train using Tfidf Vectorizer with default parameters
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()

X_train_tfidf = vectorizer.fit_transform(X_train).toarray()
print('tfidf train shape:', X_train_tfidf.shape)
print('tfidf train type:', X_train_tfidf.dtype)

# use the same as above to transform X_test
X_test_tfidf = vectorizer.transform(X_test).toarray()
print('tfidf test:', X_test_tfidf.shape)

# fit on the train set
from sklearn.naive_bayes import CategoricalNB
clf = CategoricalNB()
clf.fit(X_train_tfidf, y_train)  
    
# test results
from sklearn import metrics
predicted = clf.predict(X_test_tfidf)

# labels of the test set (true labels in the data)
acc = metrics.accuracy_score(y_test, predicted)
print('accuracy is: ', acc*100)
#metrics.confusion_matrix(y_test, predicted)

(2483, 22)
tfidf train shape: (1986, 7568)
tfidf train type: float64
tfidf test: (497, 7568)
accuracy is:  67.40442655935614